body {
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

#references, #notes, #disclaimer {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: -1px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    box-sizing: border-box;
}

#notes {
    background-color: #e6ffe6;
    overflow-x: auto;
}

#notes {

}

#references {
    font-size: 75%;
    background-color: lightgray;
}

#references h2 {
    margin-bottom: 0;
    font-size: 100%;
}

#references ul {
    margin-top: 0;
    margin-left: -2em;
}

hr {
    margin: 0;
}

.grow-wrap + div {
    border-top: none;
}
